.half-from-container{
    width: calc((100% - 50px) / 2 ); 
    box-sizing: border-box; 
}

.profile-input{
    height: 50px;
    padding-left: 8px
}


.profile-form-wrapper{
    padding: 40px 80px
}


