.half-from-container{
    width: calc((100% - 50px) / 2 ); 
    margin-bottom: 24px;
    box-sizing: border-box; 
}

.profile-input{
    height: 50px;
    padding-left: 8px
}

.save-btn{
    padding: 16px 48px;
}

.profile-form-wrapper{
box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
padding: 40px 80px

}


