.product-small-img{
    width: 170px;
    height: 140px;
}
.product-big-img{
    height: 600px;
    width:500px;
}


.size-options{
    height: 32px;
    width: 32px;
}

.picked-number{
    width: 80px;
}

.minus-btn{
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.plus-btn{
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.one-click-checkout{
    padding: 10px 48px;
}

.amount-picker{
    height: 44px;
}

.perks-section{
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 24px;
}