.category-link {
    box-sizing: border-box;
    width: 170px;
    height: 145px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
  }
  
  .category-link:hover {
    background-color: #db4444;
    color: #ffffff;
  }
  
  .category-icon {
    font-size: 32px; 
    margin-bottom: 8px;
    color: #000; 
  }
  
  .category-link:hover .category-icon {
    color: #ffffff; /* Icon color on hover */
  }
  
  .category-name {
    position: absolute;
    bottom: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  
  .category-link:hover .category-name {
    color: #ffffff; /* Text color on hover */
  }
  