.input-field{ 
    border-bottom: 1px solid rgb(0, 0, 0, .4);
}

.form-submit{ 
    padding: 24px 112px;
}

.login-image {
    
    left : -135px;
    top: 0;
    width: 100%;
}

.right-side-singup{
    padding-top: 124px;
    padding-bottom: 133.5px;
}