.heading {
    display: flex;
    align-items: center;
    gap: 16px; 
    margin-left: 7vw;
    width: 81.75vw;
    margin-bottom: 13px;
    
}

.marker {
    width: 20px;
    height: 40px;
    background: #DB4444;
    border-radius: 4px;
}

.title {
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
}
