.image {
    position: relative; /* Allows positioning of children */
    width: 270px;
    height: 250px;
    overflow: hidden; /* Ensures icons do not overflow */
    border: 1px solid black
}

.icons {
    position: absolute;
    top: 12px;
    right: 12px;
}

.heart, .eye {
    padding: 9px 10px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow */
}

.heart:hover, .eye:hover{
background-color: #DB4444; 
}

.discount {
    padding: 4px 12px;
    position: absolute;
}

.description .discount_price {
    text-decoration: line-through;
    opacity: 0.5;
}


.addToCart{
    position: absolute;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    height: 41px;
    bottom: 0px;
    visibility: hidden;
}

.image:hover .addToCart {
    opacity: 1;
    visibility: visible;
}

.star{
width: 20px;
height: 20px;
color: #FFAD33;
border-radius: 1.4px;

}