.header {
  margin-top: 1.7%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 135px 16px;
  background-color: #fff;
  color: #fff;
  border-bottom: 1px solid rgb(48, 46, 46);
}

.logo {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav {
  display: flex;
  gap: 48px;
  padding: 0;
}

.nav-item {
  flex-grow: 0;
}

.nav-item a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  gap: 10px;
  background: #F5F5F5;
  border-radius: 4px;
  margin-right: 20px; /* Increased spacing */
}

.search-input {
  padding: 5px;
  width: 10rem;
  border: none;
  background-color: #F5F5F5;
  border-radius: 3px;
}

.icon {
  color: black;
  width: 26px;
  height: 26px;
}

.icon-cart {
  padding-left: 16px;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Increased spacing */
}

.search-icons-container {
  display: flex;
  align-items: center;
}
