:root {
  /* Color */
  /* ! Rename colors to figma design */
  /* --theme-primary-light-color: #ffffff;
  --theme-primary-dark-color: #363738;
  --theme-text-color-light: #fafafa;
  --theme-text-color-dark: #7d8184;
  --theme-button-color: #000000;
  --theme-text-color-dark-2: #000000;
  --theme-secondary-color-color-1: #fefaf1;
  --theme-secondary-color-color-2-red: #db4444;
  --theme-secondary-color-color-2-grey: #f5f5f5;
  --theme-button-color-green: #47b486;
  --theme-button-color-red: #db4444;
  --theme-button-color-hover-red: #e07575;
  --theme-button-color-hover-blue: #a0bce0;
  --theme-background-color: #ffffff;
  --theme-background-color-black: #000000;
  --theme-transparent: transparent; */

  --theme-color-primary: #ffffff;
  --theme-color-primary1: #363738;
  --theme-color-secondary: #f5f5f5;
  --theme-color-secondary1: #fefaf1;
  --theme-color-secondary2: #db4444;
  --theme-color-text: #fafafa;
  --theme-color-text1: #7d8184;
  --theme-color-text2: #000000;
  --theme-color-button: #000000;
  --theme-color-button1: #00ff66;
  --theme-color-button2: #db4444;
  --theme-color-hover-button: #e07575;
  --theme-color-hover-button-blue: #a0bce0;
  --theme-color-bg: #ffffff;

  /* Font Families */
  --font-title: "Inter";
  --font-regular: "Poppins";
  --font-default: sans-serif;

  /* Font Weight */
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
}

/* ! Font clases based on design + proper naming */

/***********/
/*   Fonts */
/***********/

.heading-24px {
  /* Heading/24PX Bold */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: 0.03em;
}

.heading-36px {
  /* Heading/36PX SemiBold */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  letter-spacing: 0.04em;
}

.title-12px {
  /* Title/12PX Medium */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.title-14px {
  /* Title/14PX Regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  text-align: center;
}

.title-16px {
  /* Title/16PX Regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
}

.title-16px-semi {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  letter-spacing: 0.04em;
}

.title-24px {
  /* Title/16PX Regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
}

/**************/
/* Flex rules */
/**************/
.dsfx {
  display: flex;
}

.fx-d-r {
  flex-direction: row;
}

.fx-d-rr {
  flex-direction: row-reverse;
}

.fx-d-c {
  flex-direction: column;
}

.fx-j-c {
  justify-content: center;
}

.fx-j-sb {
  justify-content: space-between;
}

.fx-j-sa {
  justify-content: space-around;
}

.fx-j-se {
  justify-content: space-evenly;
}

.fx-j-s {
  justify-content: flex-start;
}

.fx-j-e {
  justify-content: flex-end;
}

.fx-j-s-fe {
  justify-self: flex-end;
}

.fx-ai-s {
  align-items: flex-start;
}

.fx-ac-s {
  align-content: flex-start;
}

.fx-ai-c {
  align-items: center;
}

.fx-ai-end {
  align-items: flex-end;
}

.fx-as-s {
  align-self: flex-start;
}
.fx-as-c {
  align-self: center;
}

.fx-as-fe {
  align-self: flex-end;
}

/**************/
/*     Gaps   */
/**************/
.f-gap-2px {
  gap: 2px;
}

.f-gap-4px {
  gap: var(--theme-size-4px);
}

.f-gap-8px {
  gap: var(--theme-size-8px);
}

.f-gap-12px {
  gap: var(--theme-size-16px);
}

.f-gap-16px {
  gap: var(--theme-size-16px);
}

.f-gap-24px {
  gap: var(--theme-size-24px);
}

.f-gap-32px {
  gap: var(--theme-size-32px);
}

/**************/
/*   Margins   */
/**************/
.mt-2px {
  margin-top: 2px;
}
.mt-4px {
  margin-top: 4px;
}
.mt-8px {
  margin-top: 8px;
}
.mt-12px {
  margin-top: 12px;
}
.mt-16px {
  margin-top: 16px;
}
.mt-20px {
  margin-top: 16px;
}
.mt-24px {
  margin-top: 24px;
}
.mt-32px {
  margin-top: 32px;
}

/* Margin bottom */
.mb-2px {
  margin-bottom: 2px;
}
.mb-4px {
  margin-bottom: 4px;
}
.mb-8px {
  margin-bottom: 8px;
}
.mb-12px {
  margin-bottom: 12px;
}
.mb-16px {
  margin-bottom: 16px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-24px {
  margin-bottom: 24px;
}
.mb-32px {
  margin-bottom: 32px;
}

/* Margin right */
.mr-2px {
  margin-right: 2px;
}
.mr-4px {
  margin-right: 4px;
}
.mr-8px {
  margin-right: 8px;
}
.mr-12px {
  margin-right: 12px;
}
.mr-16px {
  margin-right: 16px;
}
.mr-20px {
  margin-right: 20px;
}
.mr-24px {
  margin-right: 24px;
}
.mr-32px {
  margin-right: 32px;
}

/* Margin left */
.ml-2px {
  margin-left: 2px;
}
.ml-4px {
  margin-left: 4px;
}
.ml-8px {
  margin-left: 8px;
}
.ml-12px {
  margin-left: 12px;
}
.ml-16px {
  margin-left: 16px;
}
.ml-20px {
  margin-left: 20px;
}
.ml-24px {
  margin-left: 24px;
}
.ml-32px {
  margin-left: 32px;
}

/* ! Padding */
.p-2px {
  padding: 2px;
}
.p-4px {
  padding: 4px;
}
.p-8px {
  padding: 8px;
}
.p-12px {
  padding: 12px;
}
.p-16px {
  padding: 16px;
}
.p-20px {
  padding: 16px;
}
.p-24px {
  padding: 24px;
}
.p-32px {
  padding: 32px;
}

/* ! Font colors */

--theme-color-primary: #ffffff;
  --theme-color-primary1: #363738;
  --theme-color-secondary: #f5f5f5;
  --theme-color-secondary1: #fefaf1;
  --theme-color-secondary2: #db4444;
  --theme-color-text: #fafafa;
  --theme-color-text1: #7d8184;
  --theme-color-text2: #000000;
  --theme-color-button: #000000;
  --theme-color-button1: #00ff66;
  --theme-color-button2: #db4444;
  --theme-color-hover-button: #e07575;
  --theme-color-hover-button-blue: #a0bce0;
  --theme-color-bg: #ffffff;



.col-pr{
  color: var(--theme-color-primary);
}

.col-pr1{
  color: var(--theme-color-primary1);
}

/* ! Font colors hover */

/* .col-hov-(color name){
  color: var()
} */

/* ! Bg colors */

/* .bg-(color name){
  color: var()
} */

/* ! Bg colors hover */

/* .bg-hov-(color name){
  color: var()
} */

/* ! Borders */

.br-1px {
  border: 1px;
}

/* .br-col-(give name) {
  border-color: var()
} */

/* ! Borders hover */

/* .br-col-hov-(give name) {
  border-color: var()
} */

/* ! SVG */

/* .svg-(color) path {
  fill: var();
  stroke: var();
} */

/* ! SVG hover */

/* .svg-hov-(color) path {
  fill: var();
  stroke: var();
} */

/* !  */
:root {
  --theme-transition-time: 0.3s;
}

/* ! All classes from the top line up */
.class-1,
.class-2 {
  transition: border-color var(--theme-transition-time) ease-in-out,
    fill var(--theme-transition-time) ease-in-out,
    fill var(--theme-transition-time) ease-in-out;
}

/*  */

/* ! All caless change from _ to - */
/* ! Replace & start using in the whole design classes from critical css */

/* ! Objec fit cover , center, left right  */

/* Redo */

/* Flexbox */
.dis_f_between_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dis_f_align_center {
  display: flex;
  align-items: center;
}

.dis_f_default {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dis_f {
  display: flex;
}

/* Shadow Box */

.shadow_box_1 {
  border: 1px solid #000000;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  background: var(--background-color);
}

.shadow_box_2 {
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
  background: var(--background-color);
}

/* Margin */
.padding_main {
  padding-right: 135px;
  padding-left: 135px;
}
