.menu{ 
    margin-bottom: 0px;
}
.menu_option {
    text-decoration: none;
}

.icon {
    visibility: hidden; 
    opacity: 0; 
}

.menu_option:hover .icon {
    visibility: visible;
    opacity: 1; 
}

.outer-line{
    border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}
